body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://store-images.s-microsoft.com/image/apps.49053.9007199266243729.2a448862-861e-4e45-9b90-eabb91ef033a.df35265b-cd4b-4a1c-a98d-968d755fb3de?mode=scale&q=90&h=600&w=1200&background=%23FFFFFF');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }

  .Título {
    max-width:200px;
    max-height:200px;
    width: auto;
    height:auto;
    margin: 300px 5em auto;
    position:absolute;
  }

  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    max-height: 25%;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 30px;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    
  }
  
  #listaFilmes img {
    margin: 1px;
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    max-height: 25%;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 30px;
  }

  .Filmes {
    max-width:200px;
    max-height:200px;
    width: auto;
    height:auto;
    margin: 300px 5em auto;
    position:absolute;
  }

  .column2 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    max-height: 25%;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: auto auto auto auto auto auto;
    font-size: 30px;
  }

  .row2 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    
  }

  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  body > img {
    margin: 0 10px;
  }